<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lixd.messagewell.mapper.TokenMapper">
    <select id="findToken">
        select *
        from t_token
        where token = #{token}
    </select>

    <insert id="saveToken">
        insert into t_token(id,token)
        values  (#{id}, #{token})
        on DUPLICATE KEY UPDATE
            id = #{id},
            token = #{token}
    </insert>
</mapper>